<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="JP" />

    <!-- Stylesheets
    ============================================= -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="style.css" type="text/css" />
    <link rel="stylesheet" href="css/swiper.css" type="text/css" />
    <link rel="stylesheet" href="css/dark.css" type="text/css" />
    <link rel="stylesheet" href="css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="css/animate.css" type="text/css" />
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />
    <link href="css/toastr.css" rel="stylesheet"/>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="css/responsive.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Document Title
    ============================================= -->
    <title>Computer Science | MiNI</title>

</head>

<body class="stretched">

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

    <!-- Header
    ============================================= -->
    <header id="header" class="transparent-header full-header" data-sticky-class="not-dark">

        <div id="header-wrap">

            <div class="container clearfix">

                <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                <!-- Logo
                ============================================= -->
                <div id="logo">
<!--                    <a href="index.html" class="standard-logo" data-dark-logo="images/minilogo2.png"><img src="images/minilogo2.png" alt="Canvas Logo"></a>-->
<!--                    <a href="index.html" class="retina-logo" data-dark-logo="images/minilogo2.png"><img src="images/minilogo2.png" alt="Canvas Logo"></a>-->
                </div><!-- #logo end -->

                <!-- Primary Navigation
                ============================================= -->
                <nav id="primary-menu">

                    <ul>
                        <li class="current"><a href="index.html"><div style="color: #1ABC9C !important">Home</div></a></li>
                        <li class="current"><a href="#semesterIII"><div style="color: #1ABC9C !important">Semester III</div></a></li>
                        <li class="current"><a href="#semesterII"><div style="color: #1ABC9C !important">Semester II</div></a></li>
                    </ul>

                    <div id="top-cart">
                        <a href="https://drive.google.com/drive/folders/0B26umafYo8NlSkF5dnpJRkk5c1k?fbclid=IwAR3phuaEtXKMp4QAmQmS6ACeer7zh71iRKzkJUb42-9WnDdCUx1drBvitk0" target="_blank"  data-toggle="tooltip" data-placement="left" title="Master Drive"><i  style="color: #1ABC9C !important" class="icon-google-drive"></i></a>
                    </div>

                </nav><!-- #primary-menu end -->

            </div>

        </div>

    </header><!-- #header end -->

    <section id="slider" class="slider-element slider-parallax swiper_wrapper full-screen clearfix">
        <div class="slider-parallax-inner">

            <div class="swiper-container swiper-parent">
                <div class="swiper-wrapper">
                    <div class="swiper-slide dark" style="background-image: url('images/mini.jpg');">
                        <div class="container clearfix">
                            <div class="slider-caption slider-caption-center">
                                <h2 data-animate="fadeInUp">Welcome to Your Nightmare</h2>
                                <p class="d-none d-sm-block" data-animate="fadeInUp" data-delay="200">If you don't want to fail, then study you idiot.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <a href="#" data-scrollto="#content" data-offset="100" class="dark one-page-arrow"><i class="icon-angle-down infinite animated fadeInDown"></i></a>

        </div>
    </section>

    <!-- Content
    ============================================= -->
    <section id="content">

        <div class="content-wrap">

            <div class="container clearfix">

                <div class="heading-block">
                    <h2 id="semesterIII">Semester III</h2>
                </div>

            </div>

            <div class="container clearfix">

                <div class="row grid-container" data-layout="masonry" style="overflow: visible">
                    <div class="col-lg-4 mb-4">
                        <div class="flip-card text-center">
                            <div class="flip-card-front dark" data-height-xl="505" style="background-image: url('images/borat.jpeg');">
                                <div class="flip-card-inner">
                                    <div class="card nobg noborder text-center">
                                        <div class="card-body">
                                            <i class="icon-code h1"></i>
                                            <h3 class="card-title">Programming III</h3>
                                            <p class="card-text t400" id="boratQuote">You telling me that the man who try to put a rubber fist in my anus was a homosexual?</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flip-card-back" data-height-xl="505" style="background-image: url('images/borat_back.jpg');">
                                <div class="flip-card-inner">
                                    <button type="button" class="btn btn-outline-light mt-2" data-toggle="modal" data-target="#password-modal">View Passwords</button>
                                    <a href="http://www.mini.pw.edu.pl/~brodka/P3A.html" target="_blank"><button type="button" class="btn btn-outline-light mt-2">Go to website</button></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-4">
                        <div class="flip-card text-center">
                            <div class="flip-card-front dark" data-height-xl="505" style="background-image: url('images/alig.jpg');">
                                <div class="flip-card-inner">
                                    <div class="card nobg noborder text-center">
                                        <div class="card-body">
                                            <i class="icon-laptop-code h1"></i>
                                            <h3 class="card-title">Operating Systems I</h3>
                                            <p class="card-text t400" id="aligQuote">You'll fail anyway, don't waste ur time.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flip-card-back" data-height-xl="505" style="background-image: url('images/alig_back.jpg');">
                                <div class="flip-card-inner">
                                    <a href="https://sop.mini.pw.edu.pl/pl/node/6" target="_blank"><button type="button" class="btn btn-outline-light mt-2">Go to website</button></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-4">
                        <div class="flip-card text-center">
                            <div class="flip-card-front dark" data-height-xl="505" style="background-image: url('images/michael.jpeg');">
                                <div class="flip-card-inner">
                                    <div class="card nobg noborder text-center">
                                        <div class="card-body">
                                            <i class="icon-line-share h1"></i>
                                            <h3 class="card-title">Data transmission</h3>
                                            <p class="card-text t400" id="michaelQuote">I'm not superstitious but I'm a little stitious.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flip-card-back" data-height-xl="505" style="background-image: url('images/michael_back.png');">
                                <div class="flip-card-inner">
                                    <p class="mb-2 text-white">Login: dp<i style="cursor: pointer; float: right" class="icon-clipboard1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard" onclick="copyTextToClipboard('dp', true)"></i><br>
                                        Password: student2020<i style="cursor: pointer; float: right" class="icon-clipboard1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard" onclick="copyTextToClipboard('student2020')"></i></p>
                                    <a href="http://mini.pw.edu.pl/~marcinp/td.htm" target="_blank"><button type="button" class="btn btn-outline-light mt-2">Go to website</button></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row grid-container" data-layout="masonry" style="overflow: visible">
                    <div class="col-lg-4 mb-4">
                        <div class="flip-card text-center">
                            <div class="flip-card-front dark" data-height-xl="505" style="background-image: url('images/gina.jpg');">
                                <div class="flip-card-inner">
                                    <div class="card nobg noborder text-center">
                                        <div class="card-body">
                                            <i class="icon-subscript1 h1"></i>
                                            <h3 class="card-title">Differential Equations</h3>
                                            <p class="card-text t400" id="ginaQuote">Jeremiah K.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flip-card-back" data-height-xl="505" style="background-image: url('images/gina_back.jpg');">
                                <div class="flip-card-inner">
                                    <a href="http://www.mini.pw.edu.pl/~jspalins/www/?Differential_Equations" target="_blank"><button type="button" class="btn btn-outline-light mt-2">Go to website</button></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-4">
                        <div class="flip-card text-center">
                            <div class="flip-card-front dark" data-height-xl="505" style="background-image: url('images/ron.jpg');">
                                <div class="flip-card-inner">
                                    <div class="card nobg noborder text-center">
                                        <div class="card-body">
                                            <i class="icon-graph h1"></i>
                                            <h3 class="card-title">Algorythms and Data Structures</h3>
                                            <p class="card-text t400" id="ronQuote">:^)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flip-card-back" data-height-xl="505" style="background-image: url('images/ron_back.png');">
                                <div class="flip-card-inner">
                                    <a href="http://mini.pw.edu.pl/~brys/www/?Strona_g%B3%F3wna:Informacje%2C_materia%B3y_i_og%B3oszenia_dla_student%F3w:Algorithms_and_Data_Structures" target="_blank"><button type="button" class="btn btn-outline-light mt-2">Go to website</button></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-4">
                        <div class="flip-card text-center">
                            <div class="flip-card-front dark" data-height-xl="505" style="background-image: url('images/dwight.jpeg');">
                                <div class="flip-card-inner">
                                    <div class="card nobg noborder text-center">
                                        <div class="card-body">
                                            <i class="icon-line2-graph h1"></i>
                                            <h3 class="card-title">Descrete Mathematics II</h3>
                                            <p class="card-text t400" id="dwightQuote">:^)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flip-card-back" data-height-xl="505" style="background-image: url('images/dwight_back.jpg');">
                                <div class="flip-card-inner">
                                    <a href="https://pages.mini.pw.edu.pl/~loncz/www/?Strona_g%C5%82%C3%B3wna:Przedmioty_%28Courses%29:Discrete_Mathematics_II" target="_blank"><button type="button" class="btn btn-outline-light mt-2">Go to website</button></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

        </div>

            <div class="divider"></div>

            <div class="container clearfix">

                <div class="heading-block">
                    <h2 id="semesterII">Semester II</h2>
                </div>

            </div>

    </section><!-- #content end -->

    <!-- Footer
    ============================================= -->
    <footer id="footer" class="dark">

        <div class="container">

            <!-- Footer Widgets
            ============================================= -->


        </div>

        <!-- Copyrights
        ============================================= -->
        <div id="copyrights">

            <div class="container clearfix">

                <div class="col_half col_last tright">
                    <div class="fright clearfix">
                        <a href="https://www.facebook.com/groups/csMiNI2018/" target="_blank" class="social-icon si-small si-borderless si-facebook">
                            <i class="icon-facebook"></i>
                            <i class="icon-facebook"></i>
                        </a>
                    </div>

                    <div class="clear"></div>

                    <i class="icon-envelope2"></i> dupa@mini.pw.edu.pl <span class="middot">&middot;</span> <i class="icon-headphones"></i> 112 <span class="middot">&middot;</span> <i class="icon-skype2"></i> Mini
                </div>

            </div>

        </div><!-- #copyrights end -->

    </footer><!-- #footer end -->

</div><!-- #wrapper end -->


<!-- Modals
============================================= -->
<div class="modal fade bs-example-modal-sm show" id="password-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="display: none;" aria-modal="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-body">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Programming passwords</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <ul class="iconlist" id="passwordList">
                        <li><i class="icon-user2 mb-5"></i><strong>Login:</strong> s3-p3a<i style="cursor: pointer; float: right" class="icon-clipboard1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard" onclick="copyTextToClipboard('s3-p3a', true)"></i></li>
                        <li class="spost clearfix"></li>
                        <li><i class="icon-key"></i><strong>Presentation:</strong> mini-ga12<i style="cursor: pointer; float: right" class="icon-clipboard1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard" onclick="copyTextToClipboard('mini-ga12')"></i></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Templates
============================================= -->
<script id="password-template" type="text/x-handlebars-template">
    <li><i class="icon-key"></i><strong>Lab{{labNumber}}:</strong> {{labPassword}}<i style="cursor: pointer; float: right" class="icon-clipboard1 {{passwordPresent}}" data-toggle="tooltip" data-placement="right" title="Copy to clipboard" onclick="copyTextToClipboard('{{labPassword}}')"></i></li>
</script>

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- External JavaScripts
============================================= -->
<script src="js/jquery.js"></script>
<script src="js/plugins.js"></script>
<script src="js/toastr.js"></script>
<script src="js/hbs.js"></script>
<script src="js/custom/index.js"></script>

<!-- Footer Scripts
============================================= -->
<script src="js/functions.js"></script>

</body>
</html>